[submodule "modules/bodec."]
	url = git@github.com:creationix/bodec.git
	ref = refs/heads/master
	prefix = hxrxncmt-55cctq
	path = modules/bodec.
[submodule "modules/git-sha1."]
	url = git@github.com:creationix/git-sha1.git
	ref = refs/heads/master
	prefix = hxrxnxbh-1xon9pi
	path = modules/git-sha1.
[submodule "modules/js-git"]
	url = git@github.com:creationix/js-git.git
	ref = refs/heads/master
	prefix = hxsl7ud1-xrrknc
	path = modules/js-git
[submodule "modules/culvert."]
	url = git@github.com:creationix/culvert.git
	ref = refs/heads/master
	prefix = hxsl9o5r-1lga9ys
	path = modules/culvert.
[submodule "tedit-regenerator"]
	url = git@github.com:creationix/tedit-regenerator.git
	ref = refs/heads/master
	prefix = hxswl53t-zs1227
	path = tedit-regenerator
[submodule "modules/pako."]
	url = git@github.com:nodeca/pako.git
	ref = refs/heads/master
	prefix = hxslkn33-47ks0d
	path = modules/pako.
